<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>: <%= data.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <div class="row">
        <h1><%= title %>: <%= data.name %></h1>
        <div class="col s6">
          <a href="delete/<%= data._id %>" class="waves-effect waves-light btn"
            ><i class="material-icons right">delete</i>Delete</a
          >
        </div>
        <div class="col">
          <h5>
            <strong>Weight Range: </strong> <%= data.weightMin %> - <%=
            data.weightMax %> tons
          </h5>
          <br />
          <p><%= category_description %></p>
        </div>
        <div class="row">
          <div class="col s12">
            <% if (mech_list_data.length > 0){ %>
            <h6>List of Mechs in the <%= data.name %> class</h6>
            <hr />
            <br />
            <table class="striped centered">
              <thead>
                <th>Model</th>
                <th>Name</th>
                <th>Mech Detail</th>
              </thead>
              <tbody>
                <% for (let mech of mech_list_data){ %>
                <tr>
                  <td><%= mech.model %></td>
                  <td><%= mech.name %></td>
                  <td><a href="<%= mech.url %>">Link</a></td>
                </tr>
                <% } %>
              </tbody>
            </table>
            <% } else { %>
            <p>The shop currently has no mechs of <%= data.name %> class.</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
