<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header'); -%>

    <div class="container">
      <div class="row">
        <h1><%= title %></h1>
        <form class="col s12" method="POST">
          <div class="input-field col s6">
            <input
              placeholder="example Manufacturer Name"
              type="text"
              class="validate"
              name="name"
              id="name"
              required
              value="<% if (manufacturer !== undefined) { %><%= manufacturer.name %><% } %>"
            />
            <label for="name">Manufacturer Name</label>
          </div>
          <div class="input-field col s6">
            <input
              placeholder="example Manufacturer location"
              type="text"
              class="validate"
              name="location"
              id="location"
              required
              value="<% if (manufacturer !== undefined) { %><%= manufacturer.location %><% } %>"
            />
            <label for="location">Location</label>
          </div>
          <div class="input-field col s12">
            <textarea
              id="description"
              name="description"
              class="materialize-textarea"
              placeholder="A description of the manufacturer goes here."
              required
            >
<% if (manufacturer !== undefined){ %><%= manufacturer.description %><% } %></textarea
            >
            <label for="description">Manufacturer Description</label>
          </div>
          <div class="input-field col">
            <button class="btn waves-effect waves-light" type="submit">
              Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
        <% if (errors) { %>
        <ul>
          <% for (let error of errors){ %>
          <li><%= error.msg %></li>
          <% } %>
        </ul>
        <% } %>
      </div>
    </div>

    <%- include('footer'); -%>
  </body>
</html>
