<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - <%= manufacturer.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <div class="row s12">
        <h1><%= title %></h1>
        <% if (data.length > 0){ %>
        <p>
          Delete the following mech part instances before attempting to delete
          <%= manufacturer.name %>
        </p>
        <table class="striped centered">
          <thead>
            <th>SerialNo</th>
            <th>Status</th>
            <th>Date Received</th>
            <th>Storage</th>
            <th>Client</th>
            <th>Mech Part Instance Detail</th>
          </thead>
          <tbody>
            <% for (let mech of data){ %>
            <tr>
              <td><%= mech.serialNo %></td>
              <td>
                <% if (mech.status === `Available`) { %>
                <span class="light-green-text text-darken-1"
                  ><%= mech.status %></span
                >
                <% } else if (mech.status === `Reserved`) { %>
                <span class="yellow-text text-darken-2"
                  ><%= mech.status %></span
                >
                <% } else { %>
                <span class="red-text text-darken-1"><%= mech.status %></span>
                <% } %>
              </td>
              <td><%= mech.dateReceived_formatted %></td>
              <td>
                <a href="<%= mech.storage.url %>"><%= mech.storage.name %></a>
              </td>
              <td>
                <% if (mech.client) { %>
                <a href="<%= mech.client.url %>"><%= mech.client.name %></a>
                <% } else { %> - <% } %>
              </td>
              <td><a href="<%= mech.url %>">Link</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% } else { %>
        <p>Do you really want to delete <%= manufacturer.name %>?</p>
        <form method="POST">
          <div class="input-field">
            <input
              id="manufacturer_id"
              name="manufacturer_id"
              type="hidden"
              value="<%= manufacturer._id %>"
            />
          </div>
          <button
            class="btn waves-effect waves-light"
            type="submit"
            name="action"
          >
            Delete
            <i class="material-icons right">send</i>
          </button>
        </form>

        <% } %>
      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
