<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <!-- <div class="section no-pad-bot"> -->
    <div class="container">
      <div class="row">
        <h1><%= title %></h1>
        <p>A list of mechs at the shop:</p>
        <% if (data.length > 0) { %>
        <dl>
          <% for (let mech of data){ %>
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <img src="<%= mech.imageURL %>" />
                <span class="card-title"><%= mech.model %></span>
              </div>
              <div class="card-content">
                <p>
                  <strong><%= mech.model %></strong>&nbsp;&nbsp;&nbsp;&nbsp;<%=
                  mech.name %>
                </p>
                <br />
                <p>
                  <strong>Class: </strong><%= mech.category.name %> battlemech
                </p>
                <br />
                <p><strong>Tonnage: </strong><%= mech.weight %> tons</p>
              </div>
              <div class="card-action">
                <a href="<%= mech.url %>">Explore</a>
              </div>
            </div>
          </div>
          <% } %>
        </dl>
        <% } else { %>
        <p>There are no mechs offered at the shop.</p>
        <% } %>
        <!---->
      </div>
    </div>
    <!-- </div> -->
    <%- include('footer'); -%>
  </body>
</html>
