<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h1><%= title %></h1>
          <p>A list of mech part instances at the shop:</p>
          <% if (data.length > 0) { %>
          <table class="striped centered">
            <thead>
              <th>Serial No</th>
              <th>Storage</th>
              <th>Manufacturer</th>
              <th>Client</th>
              <th>Status</th>
              <!-- <th>Date Received</th>
              <th>Date Sold</th> -->
              <th>Price (c-bills)</th>
              <th>Mech part instance detail</th>
            </thead>
            <tbody>
              <% for (let mech of data){ %>
              <tr>
                <td><%= mech.serialNo %></td>
                <td>
                  <a href="<%= mech.storage.url %>"><%= mech.storage.name %></a>
                </td>
                <td>
                  <a href="<%= mech.manufacturer.url %>"
                    ><%= mech.manufacturer.name %></a
                  >
                </td>
                <td>
                  <% if (mech.client) { %>
                  <a href="<%= mech.client.url %>"><%= mech.client.name %></a>
                  <% } else { %> - <% } %>
                </td>
                <td>
                  <% if (mech.status === `Available`) { %>
                  <span class="light-green-text text-darken-1"
                    ><%= mech.status %></span
                  >
                  <% } else if (mech.status === `Reserved`) { %>
                  <span class="yellow-text text-darken-2"
                    ><%= mech.status %></span
                  >
                  <% } else { %>
                  <span class="red-text text-darken-1"><%= mech.status %></span>
                  <% } %>
                </td>
                <!-- <td><%= mech.dateReceived_formatted %></td>
                <td><%= mech.dateSold_formatted %></td> -->
                <td><%= mech.mechs.price_formatted %></td>
                <td><a href="<%= mech.url %>">Link</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } else { %>
          <p>There are no mech part instances at the shop.</p>
          <% } %>
        </div>
      </div>
    </div>
    <%- include('footer'); -%>
  </body>
</html>
