<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <!-- <div class="section no-pad-bot"> -->
    <div class="container">
      <div class="row">
        <h1><%= title %></h1>
        <p>List of mech part instances stored at <%= title %>.</p>
        <% if (storage_mechs.length > 0){ %>
        <div class="col s12">
          <table class="centered striped">
            <thead>
              <tr>
                <th>Model</th>
                <th>Serial No.</th>
                <th>Manufacturer(s)</th>
                <th>Client</th>
                <th>Status</th>
                <th>Price (c-bills)</th>
                <th>Date Received</th>
                <th>Date Sold</th>
                <th>Instance Details Link</th>
              </tr>
            </thead>
            <tbody>
              <% for (let mech of storage_mechs) { %>
              <tr>
                <td><%= mech.mechs.model %></td>
                <td><%= mech.serialNo %></td>
                <td>
                  <a href="<%= mech.manufacturer.url %>"
                    ><%= mech.manufacturer.name %></a
                  >
                </td>
                <td>
                  <% if (mech.client) { %>
                  <a href="<%= mech.client.url %>"><%= mech.client.name %></a>
                  <% } else { %> - <% } %>
                </td>
                <td>
                  <% if (mech.status === `Available`) { %>
                  <span class="light-green-text text-darken-1"
                    ><%= mech.status %></span
                  >
                  <% } else if (mech.status === `Reserved`) { %>
                  <span class="yellow-text text-darken-2"
                    ><%= mech.status %></span
                  >
                  <% } else { %>
                  <span class="red-text text-darken-1"><%= mech.status %></span>
                  <% } %>
                </td>
                <td><%= mech.mechs.price_formatted %></td>
                <td><%= mech.dateReceived_formatted %></td>
                <td><%= mech.dateSold_formatted %></td>
                <td><a href="<%= mech.url %>">Explore</a></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <% } else { %>
        <p>There are 0 mech part instances in <%= title %></p>
        <% } %>
      </div>
    </div>
    <!-- </div> -->
    <%- include('footer'); -%>
  </body>
</html>
